@import url('./css/animations.css');
@import url('./css/gridStyle.css');
@import url('./css/cpuStyle.css');
@import url('./css/gpuStyle.css');

:root {
	--standard-margin: 8px;
	--icon-responsive-size: clamp(60px, 25vh + 7vw, 120px);
}

body {
	background: rgba(30, 30, 30, 0.6);
	font-family: monospace;
	color: white;
	font-size: clamp(14px, 2vw + 1vh, 24px);
	margin: 0;
	padding: 10px;
}

.text-ellipsis {
	max-width: 100%;
	display: -webkit-box;
	line-clamp: 1; /* number of lines you want to show */
	-webkit-line-clamp: 1; /* number of lines you want to show */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

