body {
    background: rgba(30, 30, 30, 0.4);
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 10px;
  }

#draggable-area {
  width: 100%;
  height: 30px;
  /* background-color: #444; */
  cursor: move;
  position: absolute;
}

#cpu-usage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #cpu-usage-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top: 10px solid #4CAF50;
    position: relative;
    animation: spin 1s linear infinite;
  }
  
  #cpu-percentage {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }